.container {
    display: inline-block;
    margin: 0.33%;
    width: 32%;
    background-image: linear-gradient(#b68d4c, lightgray);
    box-sizing: border-box;
    border: 2px solid brown;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 45vh;
}

.descriptionContainer {
    padding: 10px;
    background-image: linear-gradient(#cff1dc, #76e7a1, #1bdb65);
}

.title {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Eczar', serif;
}

.textDescription {
    font-family: 'Lemonada', cursive;
}

.price {
    font-family: 'Space Mono', monospace;
}

.btn {
    background-color: firebrick;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow:  1px 4px 0 grey, 2px 3px 5px black, 5px 3px 2px #808080;
    text-shadow: 1px 2px 0 grey, 2px 3px 1px  black, 3px 4px 2px #808080;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 10px;
}

.btn:hover {
    background-color: firebrick;
    box-shadow: 1px -4px 0 grey, 2px -3px 5px black, 5px -3px 2px #808080;
    text-shadow: 1px -2px 0 grey, 2px -3px 4px black, 5px -3px 2px #808080;

    color: white;
}
