body {
  line-height: 1;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
}

.carsWrapper {
    width: 100%;
}

.wrapEmpty {
  width: 100%;
  background-image: url("../../public/car-logo-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 75vh;
}

.wrapText {
  text-align: center;
  padding-top: 5vh;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #121212;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 0 2px 1px #747474, 
      -1px 3px 1px #767676, 
      -2px 5px 1px #787878, 
      -3px 7px 1px #7a7a7a
}

.red {
  color: red;
}