.containerPage {
    width: 100%;
}

.wrapImage {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 70%;
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.textDiv {
    font-family: 'Lemonada', cursive;
    font-size: 13px;
    margin: 20px;
    padding: 5px;
    background-image: linear-gradient(#dcdcdc, #c0c0c0);
    border: 1px solid gray;
    box-shadow:  1px 4px 0 grey, 2px 3px 5px black, 5px 3px 2px #808080;
}

.textDiv:hover {
    background-image: linear-gradient(#c0c0c0, #dcdcdc);
    font-weight: bold;
}

.boldText {
    font-size: 18px;
    font-family: 'Eczar', serif;
}

.price {
    font-family: 'Space Mono', monospace;
}

.wrapButtons {
    margin-left: 10px;
}

.btn {
    background-color: firebrick;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow:  1px 4px 0 grey, 2px 3px 5px black, 5px 3px 2px #808080;
    text-shadow: 1px 2px 0 grey, 2px 3px 1px  black, 3px 4px 2px #808080;
    color: wheat;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 10px;
    margin: 10px;
}

.btn:hover {
    color: white;
    background-color: firebrick;
    box-shadow: 1px -4px 0 grey, 2px -3px 5px black, 5px -3px 2px #808080;
    text-shadow: 1px -2px 0 grey, 2px -3px 4px black, 5px -3px 2px #808080;
}