.listItem {
    display: inline-block;
    margin: 3vh 1%;
    min-width: 70px;
    cursor: pointer;
    padding: 10px;
    vertical-align: top;
    background-color: green;
    border-radius: 20px;
    border: 2px solid wheat;
    box-sizing: border-box;
    opacity: 0.6;
    text-align: center;
}

.listItem:hover {
    background-color: lightgray;
    border: 2px solid green;
    box-shadow: 4px 4px 10px green;
}

.listItem:hover .colorLink {
    color: green;
}

.colorLink {
    color: wheat
}