.submit {
    background-color: firebrick;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow:  1px 4px 0 grey, 2px 3px 5px black, 5px 3px 2px #808080;
    text-shadow: 1px 2px 0 grey, 2px 3px 1px  black, 3px 4px 2px #808080;
    color: wheat;
    cursor: pointer;
    font-weight: bold;
    padding: 4px 10px;
    margin-top: 10px;
}

.submit:hover {
    background-color: firebrick;
    box-shadow: 1px -4px 0 grey, 2px -3px 5px black, 5px -3px 2px #808080;
    text-shadow: 1px -2px 0 grey, 2px -3px 4px black, 5px -3px 2px #808080;

    color: white;
}